//variables
/*are placeholders for storing information that you want to reuse throughout your styles. you can store things like colours font or any css value you think you might whant to reuse. scss uses the $symbole to declare variables */


$primary: #3498db;
$primary-dark: #2980b9;
$secondary: #aaa;
$secondary-dark: #666;

$background: #f5f5f5;